<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the computers_init() hook (in hooks/computers.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="computers-blueskyid-<%%VALUE(id)%%>" class="computers-blueskyid text-right"><%%SELECT%%><%%VALUE(blueskyid)%%><%%ENDSELECT%%></td>
		<td id="computers-serialnum-<%%VALUE(id)%%>" class="computers-serialnum"><%%VALUE(serialnum)%%></td>
		<td id="computers-hostname-<%%VALUE(id)%%>" class="computers-hostname"><%%VALUE(hostname)%%></td>
		<td id="computers-sshlink-<%%VALUE(id)%%>" class="computers-sshlink"><a href="link.php?t=computers&f=sshlink&i=<%%VALUE(id)%%>" target="_blank" title="<%%VALUE(sshlink)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-globe text-info"></i></a></td>
		<td id="computers-vnclink-<%%VALUE(id)%%>" class="computers-vnclink"><a href="link.php?t=computers&f=vnclink&i=<%%VALUE(id)%%>" target="_blank" title="<%%VALUE(vnclink)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-globe text-info"></i></a></td>
		<td id="computers-scplink-<%%VALUE(id)%%>" class="computers-scplink"><a href="link.php?t=computers&f=scplink&i=<%%VALUE(id)%%>" target="_blank" title="<%%VALUE(scplink)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-globe text-info"></i></a></td>
		<td id="computers-datetime-<%%VALUE(id)%%>" class="computers-datetime"><%%SELECT%%><%%VALUE(datetime)%%><%%ENDSELECT%%></td>
		<td id="computers-status-<%%VALUE(id)%%>" class="computers-status"><%%VALUE(status)%%></td>
		<td id="computers-notify-<%%VALUE(id)%%>" class="computers-notify text-right"><%%VALUE(notify)%%></td>
		<td id="computers-alert-<%%VALUE(id)%%>" class="computers-alert text-right"><%%VALUE(alert)%%></td>
		<script>$j(function() {
			var e_sshlink = '<%%VALUE(sshlink)%%>'; if(e_sshlink == '' || e_sshlink == '&nbsp;') $j(/*<*/ '#computers-sshlink-<%%VALUE(id)%%>' /*>*/).html('');
			var e_vnclink = '<%%VALUE(vnclink)%%>'; if(e_vnclink == '' || e_vnclink == '&nbsp;') $j(/*<*/ '#computers-vnclink-<%%VALUE(id)%%>' /*>*/).html('');
			var e_scplink = '<%%VALUE(scplink)%%>'; if(e_scplink == '' || e_scplink == '&nbsp;') $j(/*<*/ '#computers-scplink-<%%VALUE(id)%%>' /*>*/).html('');
		});</script>
